In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
import ast

In [24]:
df = pd.read_csv("movies_transformado.csv")
df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return,director
0,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,...,['English'],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801,John Lasseter
1,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,...,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,1995,4.043035,Joe Johnston
2,0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,...,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,1995,0.000000,Howard Deutch
3,16000000,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,...,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,1995,5.090760,Forest Whitaker
4,0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,...,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,1995,0.000000,Charles Shyer

In [25]:
# Función para transformar las cadenas en el typo de dato correspondiente
def transformar_cadena(cadena):
    try:
        return ast.literal_eval(cadena)
    except (ValueError, SyntaxError):
        return cadena

In [26]:
lista_columnas = df.columns.tolist()
for columna in lista_columnas:
    df[columna] = df[columna].apply(transformar_cadena)

In [27]:
for columna_nombre in df.columns:
    tipo_dato = type(df[columna_nombre][0])
    primer_elemento = df[columna_nombre][0]
    
    print(f"La columna '{columna_nombre}' es de tipo de dato: {tipo_dato}")
    print(f"Primer elemento: {primer_elemento}")
    print()

La columna 'budget' es de tipo de dato: <class 'numpy.int64'>
Primer elemento: 30000000

La columna 'genres' es de tipo de dato: <class 'list'>
Primer elemento: ['Animation', 'Comedy', 'Family']

La columna 'id' es de tipo de dato: <class 'numpy.int64'>
Primer elemento: 862

La columna 'original_language' es de tipo de dato: <class 'str'>
Primer elemento: en

La columna 'overview' es de tipo de dato: <class 'str'>
Primer elemento: Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.

La columna 'popularity' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 21.946943

La columna 'production_companies' es de tipo de dato: <class 'list'>
Primer elemento: ['Pixar Animation Studios']

La columna 'production_countries' es de tipo de dato: <class 'list'>
Primer elemento: ['United States of America']

La columna 'release_date' es de tipo de dato: <class 'str'>
Primer elemento: 1995-10-30

La columna 'revenue' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 373554033.0

La columna 'runtime' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 81.0

La columna 'spoken_languages' es de tipo de dato: <class 'list'>
Primer elemento: ['English']

La columna 'status' es de tipo de dato: <class 'str'>
Primer elemento: Released

La columna 'tagline' es de tipo de dato: <class 'float'>
Primer elemento: nan

La columna 'title' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story

La columna 'vote_average' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 7.7

La columna 'vote_count' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 5415.0

La columna 'belongs_to_collection_name' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story Collection

La columna 'release_year' es de tipo de dato: <class 'numpy.int64'>
Primer elemento: 1995

La columna 'return' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 12.4518011

La columna 'director' es de tipo de dato: <class 'str'>
Primer elemento: John Lasseter

--------

## Análisis Exploratorio de los Datos