# ETL
---

### Se realizara la extraccion, trasformacion y carga (ETL) del dataset movies_dataset.csv y credits.csv

-----

In [2]:
# Importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import ast
import diccionarioDeDatos

Vamos a cargar el data Frame y ver sus columnas con los datos que contiene

In [3]:
# Importacion del Data Frame
movies_df = pd.read_csv("dataset/movies_dataset.csv")

credits_df = pd.read_csv("dataset/credits.csv")
# Muestra todas las columnas
pd.set_option('display.max_columns', None)

C:\Users\Pavilion HP\AppData\Local\Temp\ipykernel_14676\470224750.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("dataset/movies_dataset.csv")

In [4]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
diccionarioDeDatos.diccionario_dataset_peliculas["belongs_to_collection"]

'Un diccionario que indica a que franquicia o serie de películas pertenece la película'

In [6]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

-------------
### primero se trabajara con el dataset movies_dataset.csv 
-----------

Se analiza el tipo de dato de cada variable en el data frame (movies_df)

In [7]:
for columna_nombre in movies_df.columns:
    tipo_dato = type(movies_df[columna_nombre][0])
    primer_elemento = movies_df[columna_nombre][0]
    
    print(f"La columna '{columna_nombre}' es de tipo de dato: {tipo_dato}")
    print(f"Primer elemento: {primer_elemento}")
    print()

La columna 'adult' es de tipo de dato: <class 'str'>
Primer elemento: False

La columna 'belongs_to_collection' es de tipo de dato: <class 'str'>
Primer elemento: {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

La columna 'budget' es de tipo de dato: <class 'str'>
Primer elemento: 30000000

La columna 'genres' es de tipo de dato: <class 'str'>
Primer elemento: [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

La columna 'homepage' es de tipo de dato: <class 'str'>
Primer elemento: http://toystory.disney.com/toy-story

La columna 'id' es de tipo de dato: <class 'str'>
Primer elemento: 862

La columna 'imdb_id' es de tipo de dato: <class 'str'>
Primer elemento: tt0114709

La columna 'original_language' es de tipo de dato: <class 'str'>
Primer elemento: en

La columna 'original_title' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story

La columna 'overview' es de tipo de dato: <class 'str'>
Primer elemento: Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.

La columna 'popularity' es de tipo de dato: <class 'float'>
Primer elemento: 21.946943

La columna 'poster_path' es de tipo de dato: <class 'str'>
Primer elemento: /rhIRbceoE9lR4veEXuwCC2wARtG.jpg

La columna 'production_companies' es de tipo de dato: <class 'str'>
Primer elemento: [{'name': 'Pixar Animation Studios', 'id': 3}]

La columna 'production_countries' es de tipo de dato: <class 'str'>
Primer elemento: [{'iso_3166_1': 'US', 'name': 'United States of America'}]

La columna 'release_date' es de tipo de dato: <class 'str'>
Primer elemento: 1995-10-30

La columna 'revenue' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 373554033.0

La columna 'runtime' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 81.0

La columna 'spoken_languages' es de tipo de dato: <class 'str'>
Primer elemento: [{'iso_639_1': 'en', 'name': 'English'}]

La columna 'status' es de tipo de dato: <class 'str'>
Primer elemento: Released

La columna 'tagline' es de tipo de dato: <class 'float'>
Primer elemento: nan

La columna 'title' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story

La columna 'video' es de tipo de dato: <class 'bool'>
Primer elemento: False

La columna 'vote_average' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 7.7

La columna 'vote_count' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 5415.0

1) En algunos campos como **`belongs_to_collection`**, **`production_companies`** y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos y unirlos al dataset de nuevo para hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

como vimos en el paso anterior muchos de los datos estan como **`str`** y hay q trasformalosr al tipo de dato que corresponden ya sea **`dict`** ó **`list`**

In [8]:
# Función para transformar las cadenas en el typo de dato correspondiente
def transformar_cadena(cadena):
    try:
        return ast.literal_eval(cadena)
    except (ValueError, SyntaxError):
        return cadena

In [9]:
lista_columnas = movies_df.columns.tolist()
for columna in lista_columnas:
    movies_df[columna] = movies_df[columna].apply(transformar_cadena)

In [10]:
for columna_nombre in movies_df.columns:
    tipo_dato = type(movies_df[columna_nombre][0])
    primer_elemento = movies_df[columna_nombre][0]
    
    print(f"La columna '{columna_nombre}' es de tipo de dato: {tipo_dato}")
    print(f"Primer elemento: {primer_elemento}")
    print()

La columna 'adult' es de tipo de dato: <class 'bool'>
Primer elemento: False

La columna 'belongs_to_collection' es de tipo de dato: <class 'dict'>
Primer elemento: {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

La columna 'budget' es de tipo de dato: <class 'int'>
Primer elemento: 30000000

La columna 'genres' es de tipo de dato: <class 'list'>
Primer elemento: [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

La columna 'homepage' es de tipo de dato: <class 'str'>
Primer elemento: http://toystory.disney.com/toy-story

La columna 'id' es de tipo de dato: <class 'int'>
Primer elemento: 862

La columna 'imdb_id' es de tipo de dato: <class 'str'>
Primer elemento: tt0114709

La columna 'original_language' es de tipo de dato: <class 'str'>
Primer elemento: en

La columna 'original_title' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story

La columna 'overview' es de tipo de dato: <class 'str'>
Primer elemento: Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.

La columna 'popularity' es de tipo de dato: <class 'float'>
Primer elemento: 21.946943

La columna 'poster_path' es de tipo de dato: <class 'str'>
Primer elemento: /rhIRbceoE9lR4veEXuwCC2wARtG.jpg

La columna 'production_companies' es de tipo de dato: <class 'list'>
Primer elemento: [{'name': 'Pixar Animation Studios', 'id': 3}]

La columna 'production_countries' es de tipo de dato: <class 'list'>
Primer elemento: [{'iso_3166_1': 'US', 'name': 'United States of America'}]

La columna 'release_date' es de tipo de dato: <class 'str'>
Primer elemento: 1995-10-30

La columna 'revenue' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 373554033.0

La columna 'runtime' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 81.0

La columna 'spoken_languages' es de tipo de dato: <class 'list'>
Primer elemento: [{'iso_639_1': 'en', 'name': 'English'}]

La columna 'status' es de tipo de dato: <class 'str'>
Primer elemento: Released

La columna 'tagline' es de tipo de dato: <class 'float'>
Primer elemento: nan

La columna 'title' es de tipo de dato: <class 'str'>
Primer elemento: Toy Story

La columna 'video' es de tipo de dato: <class 'bool'>
Primer elemento: False

La columna 'vote_average' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 7.7

La columna 'vote_count' es de tipo de dato: <class 'numpy.float64'>
Primer elemento: 5415.0

Ahora se puede comparar que ya cada columna tiene el tipo de dato que corresponde

In [11]:
# Desanidar 'belongs_to_collection'
df_belongs_to_collection = pd.json_normalize(movies_df['belongs_to_collection']).add_prefix('belongs_to_collection_')
movies_df = pd.concat([movies_df, df_belongs_to_collection], axis=1)
movies_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

se agregaron varias columnas pero la que nos interesa es la columna **`belongs_to_collection_name`**

In [12]:
# se desanidara y colocara el dato necesario en la columna con la siguiente funcion
def obtener_dict_de_la_lista(lista_a_desanidar):
    if isinstance(lista_a_desanidar, list):
        valores_en_lista = [diccionario['name'] for diccionario in lista_a_desanidar]
        return valores_en_lista
    else:
        return lista_a_desanidar

In [13]:
movies_df['genres'] = movies_df['genres'].apply(obtener_dict_de_la_lista)
movies_df['production_companies'] = movies_df['production_companies'].apply(obtener_dict_de_la_lista)
movies_df['production_countries'] = movies_df['production_countries'].apply(obtener_dict_de_la_lista)
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(obtener_dict_de_la_lista)
movies_df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg

In [14]:
movies_df.shape

(45466, 28)

Como se puede observar las columnas genres, production_companies, production_countries y spoken_languages ya tienen el dato necesario en la columna correspondiente

--------
2) Los valores nulos de los campos **`revenue`**, **`budget`** deben ser rellenados por el número **`0`**.

In [15]:
# Calcular la cantidad de nulos en la columna 'revenue'
nulos_revenue = movies_df['revenue'].isnull().sum()

# Calcular la cantidad de nulos en la columna 'budget'
nulos_budget = movies_df['budget'].isnull().sum()

print("Cantidad de nulos en la columna 'revenue':", nulos_revenue)
print("Cantidad de nulos en la columna 'budget':", nulos_budget)

Cantidad de nulos en la columna 'revenue': 6
Cantidad de nulos en la columna 'budget': 0

In [16]:
movies_df['revenue'].fillna(0,inplace=True)
movies_df['budget'].fillna(0,inplace=True)

In [17]:
nulos_revenue = movies_df['revenue'].isnull().sum()

nulos_budget = movies_df['budget'].isnull().sum()

print("Cantidad de nulos en la columna 'revenue':", nulos_revenue)
print("Cantidad de nulos en la columna 'budget':", nulos_budget)

Cantidad de nulos en la columna 'revenue': 0
Cantidad de nulos en la columna 'budget': 0

-----------
3) Los valores nulos del campo **`release date`** deben eliminarse.

In [18]:
nulos_release_date = movies_df['release_date'].isnull().sum()

print("Cantidad de nulos en la columna 'release_date':", nulos_release_date)

Cantidad de nulos en la columna 'release_date': 87

In [19]:
movies_df.dropna(subset=['release_date'], inplace=True)

In [20]:
nulos_release_date = movies_df['release_date'].isnull().sum()

print("Cantidad de nulos en la columna 'release_date':", nulos_release_date)

Cantidad de nulos en la columna 'release_date': 0

-----
4) De haber fechas, deberán tener el formato **`AAAA-mm-dd`**, además deberán crear la columna **`release_year`** donde extraerán el año de la fecha de estreno.

In [21]:
tipo_dato = type(movies_df["release_date"][0])

print(f"La columna release_year es de tipo de dato: {tipo_dato}")

La columna release_year es de tipo de dato: <class 'str'>

In [22]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format='%Y-%m-%d', errors='coerce')
movies_df['release_year']=movies_df['release_date'].dt.year
movies_df['release_year']=movies_df['release_year'].astype('Int64')

In [23]:
movies_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,1995

------------
5) Crear la columna con el retorno de inversión, llamada **`return`** con los campos **`revenue`** y **`budget`**, dividiendo estas dos últimas **`revenue / budget`**, cuando no hay datos disponibles para calcularlo, deberá tomar el valor **`0`**.

In [24]:
def calculate_return(revenue, budget):
    try:
        revenue = float(revenue)
        budget = float(budget)
        if revenue is None or budget is None or budget == 0:
            return 0
        return revenue / budget
    except (ValueError, TypeError):
        return 0

In [25]:
movies_df['return'] = movies_df.apply(lambda row: calculate_return(row['revenue'], row['budget']), axis=1)

In [26]:
movies_df['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4     0.000000
Name: return, dtype: float64

------------
6) Eliminar las columnas que no serán utilizadas, **`video`**, **`imdb_id`**, **`adult`**, **`original_title`**, **`poster_path`** y **`homepage`**.

tambien se eliminaran otras columnas que se crearon durante el proceso del ETL como **`belongs_to_collection_id`**, **`belongs_to_collection_poster_path`**, **`belongs_to_collection_backdrop_path`**, **`belongs_to_collection`**

In [27]:
movies_df.drop(columns=['adult','homepage','imdb_id','original_title','poster_path','video','belongs_to_collection_id','belongs_to_collection_poster_path','belongs_to_collection_backdrop_path','belongs_to_collection'],inplace=True)

In [28]:
movies_df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801
1,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,1995,4.043035
2,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,1995,0.000000
3,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,1995,5.090760
4,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,1995,0.000000

In [29]:
movies_df.shape

(45379, 20)

------
### ahora se trabajara con el dataset credits.csv
-----

In [30]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [31]:
for columna_nombre in credits_df.columns:
    tipo_dato = type(credits_df[columna_nombre][0])
    primer_elemento = credits_df[columna_nombre][0]
    
    print(f"La columna '{columna_nombre}' es de tipo de dato: {tipo_dato}")
    print(f"Primer elemento: {primer_elemento}")
    print()

La columna 'cast' es de tipo de dato: <class 'str'>
Primer elemento: [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

La columna 'crew' es de tipo de dato: <class 'str'>

In [32]:
lista_columnas = credits_df.columns.tolist()
for columna in lista_columnas:
    credits_df[columna] = credits_df[columna].apply(transformar_cadena)

In [33]:
def obtener_director(diccionario):
    for clave in diccionario:
        if clave['job'] == 'Director':
            return clave['name']
    return diccionario

In [34]:
credits_df['director'] = credits_df['crew'].apply(obtener_director)
credits_df

,cast,crew,id,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer
...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,Hamid Nematollah
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Lav Diaz
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Mark L. Lester
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith

-----------
### uniendo los dos data sets en "movies_dataset" y "credits" uno solo
--------

In [35]:
# Combinar DataFrames usando merge por la columna 'ID'
movies_transformado = pd.merge(movies_df, credits_df, on='id', how='inner')

In [36]:
movies_transformado.head(1)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return,cast,crew,director
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter

In [41]:
movies_transformado.drop(columns=['cast','crew'],inplace=True)

In [42]:
movies_transformado.head(1)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return,director
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801,John Lasseter

In [43]:
# Exportando el dataset
movies_transformado.to_csv("dataset/movies_transformado.csv", index=False)

Verificando el dataset creado

In [44]:
movies_final = pd.read_csv("dataset/movies_transformado.csv")

In [45]:
movies_final

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return,director
0,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801,John Lasseter
1,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,1995,4.043035,Joe Johnston
2,0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,1995,0.000000,Howard Deutch
3,16000000,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,1995,5.090760,Forest Whitaker
4,0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,1995,0.000000,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,0,"['Drama', 'Action', 'Romance']",30840,en,"Yet another version of the classic epic, with ...",5.683753,"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite...",1991-05-13,0.0,104.0,['English'],Released,NaN,Robin Hood,5.7,26.0,NaN,1991,0.000000,John Irvin
45447,0,['Drama'],111109,tl,An artist struggles to finish his work while a...,0.178241,['Sine Olivia'],['Philippines'],2011-11-17,0.0,360.0,[''],Released,NaN,Century of Birthing,9.0,3.0,NaN,2011,0.000000,Lav Diaz
45448,0,"['Action', 'Drama', 'Thriller']",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,['American World Pictures'],['United States of America'],2003-08-01,0.0,90.0,['English'],Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,2003,0.000000,Mark L. Lester
45449,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,['Yermoliev'],['Russia'],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN,1917,0.000000,Yakov Protazanov
45450,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],['United Kingdom'],2017-06-09,0.0,75.0,['English'],Released,NaN,Queerama,0.0,0.0,NaN,2017,0.000000,Daisy Asquith