# Funciones
-----------

Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get(‘/’)).
<br>
<br>
<br>

Antes de empezar a crear las funciones hay que cargar las bibliotecas y el CSV necesario para poder trabajar

In [202]:
import pandas as pd

In [203]:
df = pd.read_csv("movies_transformado.csv")

In [204]:
df

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_name,release_year,return,director
0,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,1995,12.451801,John Lasseter
1,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,1995,4.043035,Joe Johnston
2,0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,1995,0.000000,Howard Deutch
3,16000000,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,1995,5.090760,Forest Whitaker
4,0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,1995,0.000000,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,0,"['Drama', 'Action', 'Romance']",30840,en,"Yet another version of the classic epic, with ...",5.683753,"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite...",1991-05-13,0.0,104.0,['English'],Released,NaN,Robin Hood,5.7,26.0,NaN,1991,0.000000,John Irvin
45447,0,['Drama'],111109,tl,An artist struggles to finish his work while a...,0.178241,['Sine Olivia'],['Philippines'],2011-11-17,0.0,360.0,[''],Released,NaN,Century of Birthing,9.0,3.0,NaN,2011,0.000000,Lav Diaz
45448,0,"['Action', 'Drama', 'Thriller']",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,['American World Pictures'],['United States of America'],2003-08-01,0.0,90.0,['English'],Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,2003,0.000000,Mark L. Lester
45449,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,['Yermoliev'],['Russia'],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,NaN,1917,0.000000,Yakov Protazanov
45450,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],['United Kingdom'],2017-06-09,0.0,75.0,['English'],Released,NaN,Queerama,0.0,0.0,NaN,2017,0.000000,Daisy Asquith

--------------------

1) def **peliculas_idioma( *`Idioma`: str* )**:
    Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` cantidad de películas fueron estrenadas en `idioma`*

In [205]:
def peliculas_idioma( Idioma: str ):
    '''
    Se ingresa un idioma. Debe devolver la cantidad de películas producidas en ese idioma.
        Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma
    '''
    idioma_deseado = df[df['original_language'] == Idioma]
    num_peliculas = len(idioma_deseado)
    return {f"{num_peliculas} peliculas se lanzaron en {Idioma}"}

In [206]:
peliculas_idioma("es")

{'991 peliculas se lanzaron en es'}

--------
2) def **peliculas_duracion( *`Pelicula`: str* )**:
    Se ingresa una pelicula. Debe devolver la duracion y el año.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` . Duración: `x`. Año: `xx`*

In [207]:
def peliculas_duracion( Pelicula: str ):
    '''
     Se ingresa una pelicula. Debe devolver la duracion y el año.
        Ejemplo de retorno: X . Duración: x. Año: x
    '''
    pelicula = df[df["title"]== Pelicula].iloc[0]
    duracion = pelicula["runtime"]
    anio = pelicula["release_year"]
    return {f"{Pelicula}. Duracion: {duracion} Año: {anio}"}

In [208]:
peliculas_duracion("Jumanji")

{'Jumanji. Duracion: 104.0 Año: 1995'}

--------------
3) def **franquicia( *`Franquicia`: str* )**:
    Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La franquicia `X` posee `X` peliculas, una ganancia total de `x` y una ganancia promedio de `xx`*

In [209]:
def franquicia( Franquicia: str ):
    '''
     Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
        Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia
    '''
    valor_encontrado = df[df['belongs_to_collection_name']==Franquicia]
    series = len(valor_encontrado)
    total = valor_encontrado['return'].sum()
    promedio = valor_encontrado['return'].mean()

    return {f"Franquicia: {Franquicia} Cantidad de Películas: {series} Ganancias Totales: {total} Promedio de las Ganancias: {promedio}"}

In [210]:
franquicia("Toy Story Collection")

{'Franquicia: Toy Story Collection\nCantidad de Películas: 3\nGanancias Totales: 23.312948159444446\nPromedio de las Ganancias: 7.770982719814815'}

-------------
4) def **peliculas_pais( *`Pais`: str* )**:
    Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *Se produjeron `X` películas en el país `X`*

In [211]:
def peliculas_pais(Pais: str):
    peliculas_por_pais = df[df['production_countries'].str.contains(Pais,na=False,case=False)]
    cantidad_peliculas = len(peliculas_por_pais)
    
    return {f"Se produjeron {cantidad_peliculas} películas en el país {Pais}"}

In [212]:
peliculas_pais("Philippines")

{'Se produjeron 83 películas en el país Philippines'}

In [213]:
peliculas_pais("United States of America")

{'Se produjeron 21176 películas en el país United States of America'}

------------
5) def **productoras_exitosas( *`Productora`: str* )**:
    Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo. 
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La productora `X` ha tenido un revenue de `x`*

In [214]:
def productoras_exitosas(Productora: str):
    # Filtrar las filas del DataFrame donde la productora está presente en la columna 'production_companies'
    peliculas_por_productora = df[df['production_companies'].str.contains(Productora)]
    
    # Calcular el total de revenue y la cantidad de películas realizadas por la productora
    total_revenue = peliculas_por_productora['revenue'].sum()
    cantidad_peliculas = len(peliculas_por_productora)
    
    return {f"La productora {Productora} ha tenido un revenue de {total_revenue} y ha realizado {cantidad_peliculas} películas"}

In [215]:
productoras_exitosas("Lancaster Gate")

{'La productora Lancaster Gate ha tenido un revenue de 0.0 y ha realizado 2 películas'}

In [216]:
productoras_exitosas("Warner Bros")

{'La productora Warner Bros ha tenido un revenue de 67156995259.0 y ha realizado 1374 películas'}

-------------
6) def **get_director( *`nombre_director`* )**:
    Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [217]:
def get_director(nombre_director):
    director_movies = df[df['director'] == nombre_director]
    
    if director_movies.empty:
        return "Director no encontrado en el dataset."
    
    success_info = []
    
    for index, row in director_movies.iterrows():
        movie_info = {
            'title': row['title'],
            'release_date': row['release_date'],
            'revenue': row['revenue'],
            'budget': row['budget'],
            'profit': row['revenue'] - row['budget']
        }
        
        success_info.append(movie_info)
    
    return success_info

In [218]:
print(get_director('Forest Whitaker'))

[{'title': 'Waiting to Exhale', 'release_date': '1995-12-22', 'revenue': 81452156.0, 'budget': 16000000, 'profit': 65452156.0}, {'title': 'Hope Floats', 'release_date': '1998-05-29', 'revenue': 0.0, 'budget': 0, 'profit': 0.0}, {'title': 'First Daughter', 'release_date': '2004-09-24', 'revenue': 0.0, 'budget': 30000000, 'profit': -30000000.0}, {'title': 'Strapped', 'release_date': '1993-08-21', 'revenue': 0.0, 'budget': 0, 'profit': 0.0}]